<!-- IF A_VIEWPROFILE -->

	<!-- INCLUDEJS @tas2580_userinfo/script.js -->
	<script type="text/javascript">
	// <![CDATA[
	var show_popup = true;
	var userinfo_url = '{AJAX_USERINFO_PATH}';

	/* Display the info popup */
	function display_userinfo(){
		show_popup = true;
		var id = getURLParameter(($(this).attr('href')), 'u');
		var url = userinfo_url.replace('USERID', id);

		$.get(url, function( responseText ) {
			var data = eval (responseText);
			$('#ajax_username').html(data[0].username);
			$('#ajax_registert').html(data[0].regdate);
			$('#ajax_posts').html(data[0].posts);
			$('#ajax_last_visit').html(data[0].lastvisit);
			$('#ajax_avatar').html(data[0].avatar);
			$('#ajax_rank').html(data[0].rank);
			<!-- EVENT tas2580_userinfo_js_insert_data -->
			if (show_popup)
			{
				$( "#popup" ).show();
			}
		});
	}
	// ]]>
	</script>
	<div class="forabg" id="popup" style="display: none;">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<ul class="topiclist fullwidth">
				<li class="header"><dl><dt>{L_READ_PROFILE}</dt></dl></li>
			</ul>
			<ul class="topiclist forums">
				<li><dl>
					<dd style="width:100%">
						<div id="ajax_avatar"></div>
						<strong>{L_USERNAME}:</strong> <span id="ajax_username"></span><br>
						<strong>{L_TOTAL_POSTS}:</strong> <span id="ajax_posts"></span><br>
						(<span id="ajax_percentage"></span> / <span id="ajax_postsperday"></span>)
						<strong>{L_SORT_RANK}:</strong> <span id="ajax_rank"></span><br>
						<strong>{L_JOINED}:</strong> <span id="ajax_registert"></span><br>
						<strong>{L_LAST_VISIT}:</strong> <span id="ajax_last_visit"></span><br>
						<!-- EVENT tas2580_userinfo_data -->
						<br class="clear">
					</dd>
				</dl></li>
			</ul>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->